@model List<string>
@if(TempData.ContainsKey("Message"))
{ 
<div class="alert alert-primary" role="alert">
    @TempData["Message"]
</div>
}
<h1>Index</h1>
<table class="table table-hover">
    <tr>
        <th>Student</th>
    </tr>
    @foreach(var student in Model)
    { 
        <tr>
            <td>@student</td>
            <td><a asp-controller="StudentList"
                   asp-action="Remove"
                   asp-route-student="@student"
                   class="btn btn-outline-danger">
                    Remove from list
                </a>
            </td>
        </tr>
    }
</table>

